@import "null.scss";

body {
    color: #fff;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #031716;
    padding: 10px;
}
.todo__app {
    max-width: 540px;
    margin: 0 auto;
    background-color: #0c969c;
    margin-top: 100px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px ;
    h1 {
       font-size: 30px; 
       margin-bottom: 30px;
    }

}
.input_text {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 30px;
    padding-left: 20px;
    background-color: #6ba3be;
    border-radius: 20px;
    box-shadow: 5px 1px 10px #031716;
    input {
        border: none;
        background-color: transparent;
        padding: 10px;
        width: 100%;
        font-size: 17px;
    }
    button {
        background-color: #274d60;
        font-size: 20px;
        padding: 15px 40px;
        color: #fff;
        border-radius: 20px;
        text-align: center;
        box-shadow: 5px 1px 10px #031716;
        &:hover {
            background-color: #0a7075;
        }
    }
}
.list {
    width: 480px;
    li {
        word-wrap: break-word; 
        padding: 12px 12px 12px 50px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid #274d60;
        &::before {
            content: " ";
            position: absolute;
            height: 20px;
            width: 20px;
            background-image: url(/img/empty-check.svg);
            background-size: cover;
            background-position:center;
            top: 12px;
            left: 8px;
        }
        span {
            position: absolute;   
            width: 20px;
            height: 20px;
            font-size: 22px;
            top: 10px;
            right: 0px;
            text-align: center;
            z-index: 20;
            &:hover {
                background-color: #274d60;
            }
        }
    }
}
li.checked {
    color: rgba(255,255, 255, 0.5);
    text-decoration: line-through;
    &::before {
        background-image: url(/img/check.svg);
    }

}